body{
     background: url(./image/f8133d-9\(1\)\ 1.png);
     background-repeat: no-repeat;
     font-family: BPG Nino Mtavruli;

}
.container{
     background: url(./image/osobnjak-malibu-add-on_1675261293_721182\ 1.png);
     background-repeat-x:no-repeat;
     height: 446px;
     width: 809px;
     display: flex;
     flex-direction: column;
     margin: 200px auto;
}
.card-child{
     display: flex;
}
.title{
     color: #fff;
     font-size: 20px;
     margin-left: 5px;
}
.card-second-child{
     display:flex;
}
.house-img{
     margin: 20px 20px;
}
.right{
     margin-left: 50px;
     color: #fff;
     font-size: 18px;
}
.price{
     color: #00FFA3;
}
.buy{
     border: none;
     outline: none;
     margin: 20px 300px;
     background: #05E800;
     font-size: 32px;
     width: 150px;
     cursor: pointer;
     font-family: BPG Nino Mtavruli;

}